* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container {
    height: 100vh;
    background-color: #0D192C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #15263F;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    height: 590px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eth {
    width: 100%;
}

.eye {
    background: #00FFF8;
    mix-blend-mode: normal;
    opacity: 0;
    border-radius: 8px;
    position: absolute;
    width: 308px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye:hover {
    opacity: 0.6;
    cursor: pointer;
}

.title-app h1 {
    font-style: normal;
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #00FFF8;
}

.title-app p {
    margin-top: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
}

.value-eth {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.value-eth img {
    margin-right: 5px;
}

.price-eth {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;
}

.clock-eth {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
}

.creator {
    margin-top: 24px;
    border-top: 1px solid #2E405A;
    padding-top: 22px;
    display: flex;
    align-items: center;
}

.creator p {
    margin-left: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
}

.creator span:hover {
    color: #00FFF8;
    cursor: pointer;
}